<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | NLP4DH</title>
  </head>
  <body>
    <h1>About</h1>
    <p>This page will contain information about the creators of the project.</p>
  </body>
</html>
