<% provide(:title, "Documentation") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | NLP4DH</title>
</head>
  <body>
    <h1>Documentation</h1>
    <p>
      This page will contain all documentation.
    </p>
  </body>
</html>
