<main role="main">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">NLP4DH</h1>
      <h2>Natural Language Processing for the Digital Humanities</h2>
      <p class="lead">Process text files with state-of-the-art Machine Learning models.</p>
      <hr class="my-4">
      <p>Explore Named Entities extracted from your own texts or have a look at our example texts.</p>
      <%= link_to "Try it out!", text_documents_path, class: "btn btn-primary btn-lg", role: "button" %>
    </div>
  </div>

  <div class="container">
    <div class="row" id="info-row">
      <div class="col-md-4">
        <h2>NLP4DH</h2>
        <p>This page will contain information about which Machine Learning models NLP4DH uses
        to process text files. More details soon!</p>
        <%= link_to "Read more", "#", class: "btn btn-secondary btn-md", role: "button" %>
      </div>
      <div class="col-md-4">
        <h2>About</h2>
        <p>This page will contain information about the idea behind this project. More details soon!</p>
        <%= link_to "Read more", "#", class: "btn btn-secondary btn-md", role: "button" %>
      </div>
    </div>
  </div>
</main>
