<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | NLP4DH</title>
  </head>
  <body>
    <h1>NLP4DH</h1>
    <p>
      This is the home page. This is where the upload button will be.
    </p>
  </body>
</html>
