<%= render 'layouts/flash' %>
<div class="container">
  <div class="col-md-6">
    <table class = "table table-bordered table-striped">
       <!-- <thead>
          <tr>
             <th> Header </th>
          </tr>
       </thead> -->

       <tbody>
         <tr>
           <td>File name</td>
           <td><%= @text_document.file_name %></td>
          </tr>
         <tr>
           <td>Description</td>
           <td><%= @text_document.description %></td>
         </tr>
         <tr>
           <td>Text</td>
           <td><%= simple_format @text_document.file_content %></td>
         </tr>
       </tbody>

    </table>
  </div>
</div>
