// @import "bootstrap-sprockets";
// @import "bootstrap";

/* universal */

// body {
//   padding-top: 60px;
// }

// section {
//   overflow: auto;
// }
//
// textarea {
//   resize: vertical;
// }
//
// .center {
//   text-align: center;
//
//   h1 {
//     margin-bottom: 10px;
//   }
// }
//
// /* typography */
//
// h1, h2, h3, h4, h5, h6 {
//   line-height: 1;
// }
//
// h1 {
//   font-size: 3em;
//   letter-spacing: -2px;
//   margin-bottom: 30px;
//   text-align: center;
// }
//
// h2 {
//   font-size: 1.2em;
//   letter-spacing: -1px;
//   margin-bottom: 30px;
//   text-align: center;
//   font-weight: normal;
//   color: #777;
// }
//
// p {
//   font-size: 1.1em;
//   line-height: 1.7em;
// }

#info-row {
  padding-bottom: 40px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-family: "Verdana", Helvetica, Arial, sans-serif;
  font-size: 1.3em;
  color: #fff;
  text-transform: uppercase;
  padding-top: 9px;
  padding-bottom: 5px;
  font-weight: bold;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.navbar-nav {
  .nav-item {
    font-family: "Verdana", Helvetica, Arial, sans-serif;
    color: #fff;
  }
}

/* instructions card */

.instructions-col {
  margin: auto;

  .instructions-card {
    margin-bottom: 15px;
  }
}

/* table */

#text-documents-table {
  margin: auto;
}

.td-form {
  display: inline-block;
}

.button-cell {
  width: 1%;
  white-space: nowrap;
}

#text-document-form {
  margin: auto;
  margin-top: 15px;
}

/* errors, flash, etc. */
#flash-notice {
  margin: auto;
  margin-top: 15px;
}

/* analysis info table */
.analysis-col {
  margin: auto;
}
